/* Global Layout Set-up */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0px;

}

a {
  color: purple;
}

a:hover {
  color: violet;
}

#billboard {
  height: 500px;
  background: url('images/aisle.jpg') no-repeat top center;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  display: flex;
}

#running-order {
    height: 400px;
    background: url('images/domes.jpg');
    background-position: center;
    background-size: cover;
    overflow: hidden;
    display: flex;
}

#brides-side-members {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons {
  height: 150px;
  fill: burlywood;
}

#bride-member {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.modal-section {
  display: flex;
  flex-direction: column;
}

#information {
background-color: #f1dfd1;
background-image: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%);
border-radius: 25px;
}

#bride-member h2,
#bride-member p {
  margin-left: auto;
  margin-right: auto;
}

#quest {
  color: white;
  z-index: 2;
  background: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%);;
  margin-bottom: 0;
  }

#question {
  background: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
  border: 1px black solid;
  margin-bottom: 0;
}

#answer {
  z-index: -10;
  margin: 0;
  }

.slide {
  transition: all 0.4s ease-in;
  height:50px;
  opacity: 1;
  margin-bottom: 0;
  }



.height {

   opacity: 0;
    height: 0px;
}

.answer {
  display: none;
  }

.running-order {
  margin: auto;
}

.head-fix {
  margin: auto;
}

.top-pink {
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%);
  margin-bottom: 0;
}

.table p {
  background-color: #d9d9d9;
background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
  border-bottom: 1px black solid;
  margin: auto;
}

.profile-pic {
  border-radius: 50%;
  overflow: hidden;
  height: 160px;
  width: 160px;
  }

.hotel {
  border-radius: 15px;
  overflow: hidden;
  height: 300px;
  width: 460px;
}


/* MEDIA QUERIES */

@media only screen and (min-width: 320px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {

  #brides-side-members {
    flex-direction: row;
  }

  .modal-section {
        flex-direction: row;

  }

}
