/* Global Layout Set-up */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Noticia Text', serif;
}

body {
  margin: 0px;

}

.whiteline {
  border-bottom: 1px white solid;
}

#billboard {
  height: 500px;
  background: url('images/aisle.jpg') no-repeat top center;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  display: flex;
}

#running-order {
    height: 400px;
    background: url('images/domes.jpg');
    background-position: center;
    background-size: cover;
    overflow: hidden;
    display: flex;
}

#brides-side-members {
  display: flex;
  flex-direction: column;
  align-items: center;
}




.icons {
  height: 150px;
  fill: burlywood;
}

.bag {
  width: 180px;
}

#bride-member {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.modal-section {
  display: flex;
  flex-direction: column;
}

#information {
background-color: #f1dfd1;
background-image: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%);
border-radius: 25px;
}

#bride-member h2,
#bride-member p {
  margin-left: auto;
  margin-right: auto;
}

.footer {
  background: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);

}

.columns {
   column-count: 1;
   column-gap: 25px;
}

#quest {

  z-index: 2;
    background: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
  margin-bottom: 0;
  }

.activities-height {
  height: 40px;
}

#question {
  border: 0.5px black solid;
  margin-bottom: 0;
}

#answer {
  z-index: -10;
  margin: 0;
  }

.slide {
  transition: all 0.4s ease-in;
  height:50px;
  opacity: 1;
  margin-bottom: 0;
  }


.footerimage {
    height: 40px;
}


.height {

   opacity: 0;
    height: 0px;
}

.answer {
  display: none;
  }

.running-order {
  margin: auto;
}

.head-fix {
  margin: auto;
}

.top-pink {
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%);
  margin-bottom: 0;
}

.table p {
  background-color: #d9d9d9;
background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
  border-bottom: 1px black solid;
  margin: auto;
}

.profile-pic {
  border-radius: 50%;
  overflow: hidden;
  height: 160px;
  width: 160px;
  }

.hotel {
  border-radius: 15px;
  overflow: hidden;
  height: 300px;
  width: 300px;
}


/* The Close Button */
.close {
  float: right;
  color: #c8c8c8;
  font-size: 28px;
  font-weight: bold;
}

/* Previous and next Buttons */
.previous,
.next {
  color: #c8c8c8;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  top: 150px;
}

.previous {
  float: left;
  margin-right: 20px;
}

.next {
  float: right;
  left: 15px;
}

.previous:hover,
.next:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.hide {
  display: none;
}


/* MEDIA QUERIES */

@media only screen and (min-width: 320px) {
}


@media only screen and (min-width: 768px) {
  .columns {
     column-count: 2;

  }
}



@media only screen and (min-width: 1024px) {

  .activity-card {
   max-width: 540px;
  }

  .activity {
    object-fit: cover;
    height: 280px;
    width: 150px;
    }

    .hotel {
      height: 280px;
      width: 400px;
    }

  .columns {
     column-count: 3;

  }

  #brides-side-members {
    flex-direction: row;
  }

  .modal-section {
        flex-direction: row;
  }

}
